{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid", style="background: lightgrey">
    <div class="row justify-content-lg-center">
    <h1>Mission to Mars</h1>
    </div>
    <div class="row justify-content-lg-center">
    <button href="/scrape" role="button">Scrape Data</button>
    </div>
  </div>
  <div class="container-fluid">
    <h2>Latest Mars News</h2>
    <p><strong>{{ headline }}</strong></p>
    <p>{{ content }}</p>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2><strong>Featured Mars Image</strong></h2>
            <img src={{ featured_image }} class="img-fluid" width="95%">
        </div>
        <div class="col-4">
            <div class="row">
                <h3><strong>Current Weather on Mars</strong></h3>
                <p>{{ twitter }}</p>
            </div>
            <div class="row">
                <h3><strong>Mars Facts</strong></h3>
            </div>
            <div class="row">
                <table>
                    {% for fact in facts %}
                    <tr>
                        <td>{{ fact.name }}</td>
                        <td>{{ fact.value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  </div>
{% endblock %}