{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid", style="background: lightgrey">
    <div class="row justify-content-lg-center">
    <h1><br>Mission to Mars</h1>
    </div>
    <div class="row justify-content-lg-center">
      <a href="/scrape"><input type="button" value="Scrape New"></a>
    <!-- <button href="/scrape", role="button", onclick="alert('Data Refreshed')">Scrape Data</button> -->
    </div>
  </div>
  <div class="container-fluid">
    <h2>Latest Mars News</h2>
    <p><strong>{{ headline }}</strong></p>
    <p>{{ content }}</p>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2><strong>Featured Mars Image</strong></h2>
            <img src={{ featured_image }} class="img-fluid" width="95%">
        </div>
        <div class="col-4">
            <div class="row">
                <h3><strong>Current Weather on Mars</strong></h3>
                <p>{{ twitter }}</p>
            </div>
            <div class="row">
                <h3><strong>Mars Facts</strong></h3>
            </div>
            <div class="row">
                <table>
                    {% for fact in facts %}
                    <tr>
                        <td>{{ fact.name }}</td>
                        <td>{{ fact.value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid" style="background: lightgrey">
    <div class="row justify-content-lg-center">
      <h1><strong><br>Mars Hemispheres</strong></h1>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>{{ hem_one_title }}</h3>
        <img src={{ hem_one_img }} class="img-fluid" width="95%">
      </div>
      <div class="col-6">
        <h3>{{ hem_two_title }}</h3>
        <img src={{ hem_two_img }} class="img-fluid" width="95%">
      </div>
      <div class="col-6">
        <h3>{{ hem_three_title }}</h3>
        <img src={{ hem_three_img }} class="img-fluid" width="95%">
      </div>
      <div class="col-6">
        <h3>{{ hem_four_title }}</h3>
        <img src={{ hem_four_img }} class="img-fluid" width="95%">
      </div>
    </div>
  </div>

  </div>
{% endblock %}